* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --yellow: #f6af21;
  --blue: #027ffe;
  --gray: #a7adba;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  box-shadow: 0 0 0 30px white inset !important;
  background-color: white;
}

.MuiOutlinedInput-root {
  background-color: white !important;
}

.Mui-focused fieldset {
  border-color: var(--purpule) !important;
}
